#glare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* ensure the effect doesn't cover the text */
  background: radial-gradient(hsl(154 5% 15%) 0%, hsl(154 50% 5%) 70%);
}

@keyframes lines {
  0% {
    background-position: 0px 0px
  }

  50% {
    background-position: 0px 0px
  }

  51% {
    background-position: 0px 2px
  }

  100% {
    background-position: 0px 2px
  }
}

#interlaced {
  position: fixed;
  background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.3) 3px 4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

.blink {
  animation: blink 0.4s linear infinite;
}

#App {
  padding: 50px;
  color: hsl(154 84% 70%);
  text-shadow: 0 0 4px hsl(154 84% 70%);
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: textShadow 1.6s infinite;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 250px;
  margin-bottom: 25px;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  margin: 0;
}

p {
  font-family: monospace;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  h4 {
    align-self: flex-start;
  }

}
#content {
  border: 1px solid hsl(154 84% 70%);
  box-sizing: border-box;
  box-shadow: 0 0 4px hsl(154 84% 70%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
}

#button-container {
  margin-top: 25px;
  height: 30px;
  width: 40%;
  display: inline-flex;
  justify-content: space-between;

}

img {
  margin-top: 15px;
  width: 100%;
}

/* Keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

article {
  width: 100%;

  p {
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    /* width: 0; */
    /*  animation:
      typing 4s steps(40, end) forwards,
      blink-caret .75s step-end infinite;
  */
  }
}


.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6,
.line-7,
.line-8,
.line-9 { 
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.1rem 0;
  border-right: 2px solid transparent; 
}

.line-1 {
  animation: typing calc(30 * 100ms) steps(29) calc(1 * 100ms) 1 both,
    blinking 100ms linear calc(1 * 100ms) 29 alternate;
}

.line-2 {
  animation: typing calc(31 * 100ms) steps(30) calc(31 * 100ms) 1 both,
    blinking 100ms linear calc(32 * 100ms) 30 alternate;
}

.line-3 {
  animation: typing calc(38 * 100ms) steps(37) calc(62 * 100ms) 1 both,
    blinking 100ms linear calc(63 * 100ms) 37 alternate;
}

.line-4 {
  animation: typing calc(41 * 100ms) steps(40) calc(100 * 100ms) 1 both,
    blinking 100ms linear calc(99 * 100ms) 40 alternate;
}

.line-5 {
  animation: typing calc(41 * 100ms) steps(40) calc(141 * 100ms) 1 both,
    blinking 100ms linear calc(140 * 100ms) 40 alternate;
}

.line-6 {
  animation: typing calc(46 * 100ms) steps(45) calc(182 * 100ms) 1 both,
    blinking 100ms linear calc(181 * 100ms) 60 alternate;
}

.line-7 {
  animation: typing calc(27 * 100ms) steps(26) calc(248 * 100ms) 1 both
}

.line-8 {
  animation: typing calc(17 * 100ms) steps(16) calc(277 * 100ms) 1 both
}

.line-9 {
  animation: typing calc(26 * 100ms) steps(25) calc(294 * 100ms) 1 both
}

@keyframes typing {
  from {
    max-width: 0ch;
  }

  to {
    max-width: calc(100% + 1ch);
  }
}

@keyframes blinking {
  from {
    
    border-color: transparent;
  }
  
to {
    border-color: hsl(154 84% 70%);
  }

}